@import "./colors";

//BORDER STYLE

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

//BORDER WIDTH

@for $i from 1 through 10 {
  .border-#{$i} {
    border-width: #{$i}px;
  }
}

//BORDER-COLOR

.border-white {
  border-color: $white;
}

.border-sage {
  border-color: $sage;
}

.border-green-100 {
  border-color: $fern-green;
}

.border-green-200 {
  border-color: $hunter-green;
}

.border-green-300 {
  border-color: $brunswick-green;
}

//BORDER-RADIUS

.rounded {
  border-radius: 0.25rem; /* 4px */
}

.rounded-md {
  border-radius: 0.375rem; /* 6px */
}

.rounded-lg {
  border-radius: 0.5rem; /* 8px */
}

.rounded-xl {
  border-radius: 0.75rem; /* 12px */
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-top {
  border-radius: 0.25rem 0.25rem 0 0; /* 4px */
}

.rounded-md-top {
  border-radius: 0.375rem 0.375rem 0 0; /* 6px */
}

.rounded-lg-top {
  border-radius: 0.5rem 0.5rem 0 0; /* 8px */
}

.rounded-xl-top {
  border-radius: 0.75rem 0.75rem 0 0; /* 12px */
}

.rounded-bottom {
  border-radius: 0 0 0.25rem 0.25rem; /* 4px */
}

.rounded-md-bottom {
  border-radius: 0 0 0.375rem 0.375rem; /* 6px */
}

.rounded-lg-bottom {
  border-radius: 0 0 0.5rem 0.5rem; /* 8px */
}

.rounded-xl-bottom {
  border-radius: 0 0 0.75rem 0.75rem; /* 12px */
}
